openapi: 3.1.0
info:
    title: Pistachio Admin API
    description: |
        Administrative API for managing Pistachio projects and resources.
        Requires service account authentication.
    version: 0.1.0
    contact:
        name: Pistachio Team
servers:
    - url: https://admin.pistachiohq.com/v1
      description: Production server
    - url: https://admin.staging.pistachiohq.com/v1
      description: Staging server
tags:
    - name: Projects
      description: Project management operations
    - name: Tenants
      description: Tenant management operations within projects
    - name: Apps
      description: App management operations within projects
paths:
    /admin/v1/projects/{projectId}/apps:
        get:
            operationId: listApps
            summary: List apps
            description: |
                Lists all apps within a project.
                Results are paginated with cursor-based pagination.
            tags:
                - Apps
            security:
                - ApiKeyAuth: []
                  ServiceAccountAuth: []
            parameters:
                - name: projectId
                  in: path
                  description: The project ID that owns the apps
                  required: true
                  schema:
                    type: string
                    pattern: '^[a-z][a-z0-9-]{4,28}[a-z0-9]$'
                - name: pageSize
                  in: query
                  description: Number of results to return per page. Defaults to 20, maximum is 100.
                  required: false
                  schema:
                    type: integer
                    minimum: 0
                    maximum: 100
                    default: 20
                    example: 20
                - name: cursor
                  in: query
                  description: |
                    Cursor for pagination. Use "*" for the first page.
                    Use the `nextCursor` from the previous response for subsequent pages.
                  required: false
                  schema:
                    type: string
                    maxLength: 512
                    example: "*"
                - name: sort
                  in: query
                  description: |
                    Sort specification. Format: "field:direction" (e.g., "created_at:DESC").
                    Multiple fields can be comma-separated (e.g., "created_at:DESC,display_name:ASC").

                    Valid directions: ASC, DESC (case-insensitive).
                    Valid fields are endpoint-specific (see endpoint documentation).
                    Default sort is endpoint-specific (typically created_at:DESC).
                  required: false
                  schema:
                    type: string
                    pattern: '^[a-z_]+:(ASC|DESC|asc|desc)(,[a-z_]+:(ASC|DESC|asc|desc))*$'
                    example: "created_at:DESC"
                - name: showDeleted
                  in: query
                  description: Whether to include deleted apps in the results
                  schema:
                    type: boolean
                    default: false
            responses:
                '200':
                    description: List of apps
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Response containing a page of apps.
                                properties:
                                    apps:
                                        type: array
                                        description: The list of apps.
                                        items:
                                            type: object
                                            description: |
                                                A registered application for any platform.
                                                Apps are platform-specific client applications within a project.
                                                Each app targets a specific platform and shares the project's user pool.
                                            properties:
                                                name:
                                                    type: string
                                                    description: Resource name in the format "projects/{project_id}/apps/{app_id}".
                                                    example: projects/my-project/apps/my-ios-app
                                                appId:
                                                    type: string
                                                    description: Globally unique app identifier assigned by the system.
                                                    maxLength: 64
                                                    example: my-ios-app
                                                pistachioId:
                                                    type: string
                                                    description: |
                                                        Internal app identifier.
                                                        16 bytes encoded as 32 hex characters ending in '03'.
                                                    example: a1b2c3d4e5f6789012345678901234503
                                                displayName:
                                                    type: string
                                                    description: Human-readable display name for the app.
                                                    maxLength: 64
                                                    example: My iOS App
                                                projectId:
                                                    type: string
                                                    description: The project this app belongs to.
                                                    example: my-project
                                                platform:
                                                    type: string
                                                    description: Target platform for an app.
                                                    enum:
                                                        - IOS
                                                        - ANDROID
                                                        - MACOS
                                                        - WINDOWS
                                                        - LINUX
                                                        - WEB
                                                    example: IOS
                                                apiKey:
                                                    type: string
                                                    description: |
                                                        Auto-generated API key for this app.
                                                        Only returned on app creation.
                                                    example: AIzaSyB1234567890abcdefg
                                                state:
                                                    type: string
                                                    description: Lifecycle state of an app.
                                                    enum:
                                                        - ACTIVE
                                                        - DELETED
                                                    example: ACTIVE
                                                ios:
                                                    type: object
                                                    description: iOS-specific app configuration.
                                                    required:
                                                        - bundleId
                                                    properties:
                                                        bundleId:
                                                            type: string
                                                            description: iOS bundle identifier (e.g., "com.example.myapp").
                                                            pattern: '^[a-zA-Z][a-zA-Z0-9-]*(\.[a-zA-Z][a-zA-Z0-9-]*)+$'
                                                            minLength: 1
                                                            maxLength: 255
                                                            example: com.example.myapp
                                                        appStoreId:
                                                            type: string
                                                            description: App Store ID (numeric). Optional.
                                                            example: "123456789"
                                                        teamId:
                                                            type: string
                                                            description: Apple Team ID for code signing verification.
                                                            maxLength: 10
                                                            example: ABCD1234EF
                                                android:
                                                    type: object
                                                    description: Android-specific app configuration.
                                                    required:
                                                        - packageName
                                                    properties:
                                                        packageName:
                                                            type: string
                                                            description: Android package name (e.g., "com.example.myapp").
                                                            pattern: '^[a-zA-Z][a-zA-Z0-9_]*(\.[a-zA-Z][a-zA-Z0-9_]*)+$'
                                                            minLength: 1
                                                            maxLength: 255
                                                            example: com.example.myapp
                                                        sha1Hashes:
                                                            type: array
                                                            description: SHA-1 certificate fingerprints for app verification.
                                                            items:
                                                                type: string
                                                            example:
                                                                - "AB:CD:EF:12:34:56:78:90:AB:CD:EF:12:34:56:78:90:AB:CD:EF:12"
                                                        sha256Hashes:
                                                            type: array
                                                            description: SHA-256 certificate fingerprints for app verification.
                                                            items:
                                                                type: string
                                                            example:
                                                                - "AB:CD:EF:12:34:56:78:90:AB:CD:EF:12:34:56:78:90:AB:CD:EF:12:34:56:78:90:AB:CD:EF:12:34:56:78:90"
                                                macos:
                                                    type: object
                                                    description: macOS-specific app configuration.
                                                    required:
                                                        - bundleId
                                                    properties:
                                                        bundleId:
                                                            type: string
                                                            description: macOS bundle identifier (e.g., "com.example.myapp").
                                                            pattern: '^[a-zA-Z][a-zA-Z0-9-]*(\.[a-zA-Z][a-zA-Z0-9-]*)+$'
                                                            minLength: 1
                                                            maxLength: 255
                                                            example: com.example.myapp
                                                        teamId:
                                                            type: string
                                                            description: Apple Team ID for code signing verification.
                                                            example: ABCD1234EF
                                                        macAppStoreId:
                                                            type: string
                                                            description: Mac App Store ID. Optional.
                                                            example: "123456789"
                                                windows:
                                                    type: object
                                                    description: Windows-specific app configuration.
                                                    properties:
                                                        packageFamilyName:
                                                            type: string
                                                            description: MSIX package family name (e.g., "Publisher.AppName_hash").
                                                            example: Contoso.MyApp_8wekyb3d8bbwe
                                                        publisherId:
                                                            type: string
                                                            description: Publisher ID from Windows Store.
                                                            example: CN=Contoso
                                                        certThumbprints:
                                                            type: array
                                                            description: Authenticode certificate SHA-256 thumbprints.
                                                            items:
                                                                type: string
                                                        microsoftStoreId:
                                                            type: string
                                                            description: Microsoft Store product ID. Optional.
                                                            example: "9NBLGGH4R32N"
                                                linux:
                                                    type: object
                                                    description: Linux-specific app configuration.
                                                    required:
                                                        - appName
                                                    properties:
                                                        appName:
                                                            type: string
                                                            description: Application name for identification.
                                                            minLength: 1
                                                            maxLength: 64
                                                            example: my-app
                                                        flatpakId:
                                                            type: string
                                                            description: Flatpak app ID (e.g., "com.example.App"). Optional.
                                                            example: com.example.App
                                                        snapName:
                                                            type: string
                                                            description: Snap package name. Optional.
                                                            example: my-app
                                                web:
                                                    type: object
                                                    description: Web-specific app configuration.
                                                    properties:
                                                        authorizedDomains:
                                                            type: array
                                                            description: Authorized domains for OAuth redirects and CORS.
                                                            items:
                                                                type: string
                                                            example:
                                                                - "https://myapp.example.com"
                                                                - "http://localhost:3000"
                                                        authDomain:
                                                            type: string
                                                            description: Auth domain for this app (e.g., "myapp.pistachiohq.com").
                                                            example: myapp.pistachiohq.com
                                                createdAt:
                                                    type: string
                                                    format: date-time
                                                    description: Timestamp when the app was created.
                                                    example: "2024-01-15T10:30:00Z"
                                                updatedAt:
                                                    type: string
                                                    format: date-time
                                                    description: Timestamp when the app was last updated.
                                                    example: "2024-01-15T10:30:00Z"
                                    pagination:
                                        type: object
                                        description: Pagination metadata for list and search responses.
                                        properties:
                                            nextCursor:
                                                type: string
                                                description: |
                                                    Cursor for fetching the next page of results.
                                                    Pass this value as the `cursor` parameter in the next request.
                                                    When `nextCursor` equals the input `cursor`, there are no more results.
                                                example: eyJwYWdlIjogMn0
                                            totalCount:
                                                type: integer
                                                format: int64
                                                description: |
                                                    Total number of items matching the request.
                                                    May be omitted for performance reasons on large result sets.
                                                example: 42
                '400':
                    description: Invalid pagination parameters
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
                '401':
                    description: Invalid or missing credentials
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
                '403':
                    description: Permission denied
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
                '404':
                    description: Project not found
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
        post:
            operationId: createApp
            summary: Create a new app
            description: |
                Registers a new app within a project.
                API keys are auto-generated for each app.
                Platform-specific configuration must match the specified platform.
            tags:
                - Apps
            security:
                - ApiKeyAuth: []
                  ServiceAccountAuth: []
            parameters:
                - name: projectId
                  in: path
                  description: The project ID that will own the app
                  required: true
                  schema:
                    type: string
                    pattern: '^[a-z][a-z0-9-]{4,28}[a-z0-9]$'
            requestBody:
                description: App creation parameters
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            description: Request body for creating a new app.
                            required:
                                - displayName
                                - platform
                            properties:
                                displayName:
                                    type: string
                                    description: Human-readable display name for the app. Required.
                                    minLength: 1
                                    maxLength: 64
                                    example: My iOS App
                                platform:
                                    type: string
                                    description: Target platform for an app.
                                    enum:
                                        - IOS
                                        - ANDROID
                                        - MACOS
                                        - WINDOWS
                                        - LINUX
                                        - WEB
                                    example: IOS
                                ios:
                                    type: object
                                    description: iOS-specific app configuration.
                                    required:
                                        - bundleId
                                    properties:
                                        bundleId:
                                            type: string
                                            description: iOS bundle identifier (e.g., "com.example.myapp").
                                            pattern: '^[a-zA-Z][a-zA-Z0-9-]*(\.[a-zA-Z][a-zA-Z0-9-]*)+$'
                                            minLength: 1
                                            maxLength: 255
                                            example: com.example.myapp
                                        appStoreId:
                                            type: string
                                            description: App Store ID (numeric). Optional.
                                            example: "123456789"
                                        teamId:
                                            type: string
                                            description: Apple Team ID for code signing verification.
                                            maxLength: 10
                                            example: ABCD1234EF
                                android:
                                    type: object
                                    description: Android-specific app configuration.
                                    required:
                                        - packageName
                                    properties:
                                        packageName:
                                            type: string
                                            description: Android package name (e.g., "com.example.myapp").
                                            pattern: '^[a-zA-Z][a-zA-Z0-9_]*(\.[a-zA-Z][a-zA-Z0-9_]*)+$'
                                            minLength: 1
                                            maxLength: 255
                                            example: com.example.myapp
                                        sha1Hashes:
                                            type: array
                                            description: SHA-1 certificate fingerprints for app verification.
                                            items:
                                                type: string
                                            example:
                                                - "AB:CD:EF:12:34:56:78:90:AB:CD:EF:12:34:56:78:90:AB:CD:EF:12"
                                        sha256Hashes:
                                            type: array
                                            description: SHA-256 certificate fingerprints for app verification.
                                            items:
                                                type: string
                                            example:
                                                - "AB:CD:EF:12:34:56:78:90:AB:CD:EF:12:34:56:78:90:AB:CD:EF:12:34:56:78:90:AB:CD:EF:12:34:56:78:90"
                                macos:
                                    type: object
                                    description: macOS-specific app configuration.
                                    required:
                                        - bundleId
                                    properties:
                                        bundleId:
                                            type: string
                                            description: macOS bundle identifier (e.g., "com.example.myapp").
                                            pattern: '^[a-zA-Z][a-zA-Z0-9-]*(\.[a-zA-Z][a-zA-Z0-9-]*)+$'
                                            minLength: 1
                                            maxLength: 255
                                            example: com.example.myapp
                                        teamId:
                                            type: string
                                            description: Apple Team ID for code signing verification.
                                            example: ABCD1234EF
                                        macAppStoreId:
                                            type: string
                                            description: Mac App Store ID. Optional.
                                            example: "123456789"
                                windows:
                                    type: object
                                    description: Windows-specific app configuration.
                                    properties:
                                        packageFamilyName:
                                            type: string
                                            description: MSIX package family name (e.g., "Publisher.AppName_hash").
                                            example: Contoso.MyApp_8wekyb3d8bbwe
                                        publisherId:
                                            type: string
                                            description: Publisher ID from Windows Store.
                                            example: CN=Contoso
                                        certThumbprints:
                                            type: array
                                            description: Authenticode certificate SHA-256 thumbprints.
                                            items:
                                                type: string
                                        microsoftStoreId:
                                            type: string
                                            description: Microsoft Store product ID. Optional.
                                            example: "9NBLGGH4R32N"
                                linux:
                                    type: object
                                    description: Linux-specific app configuration.
                                    required:
                                        - appName
                                    properties:
                                        appName:
                                            type: string
                                            description: Application name for identification.
                                            minLength: 1
                                            maxLength: 64
                                            example: my-app
                                        flatpakId:
                                            type: string
                                            description: Flatpak app ID (e.g., "com.example.App"). Optional.
                                            example: com.example.App
                                        snapName:
                                            type: string
                                            description: Snap package name. Optional.
                                            example: my-app
                                web:
                                    type: object
                                    description: Web-specific app configuration.
                                    properties:
                                        authorizedDomains:
                                            type: array
                                            description: Authorized domains for OAuth redirects and CORS.
                                            items:
                                                type: string
                                            example:
                                                - "https://myapp.example.com"
                                                - "http://localhost:3000"
                                        authDomain:
                                            type: string
                                            description: Auth domain for this app (e.g., "myapp.pistachiohq.com").
                                            example: myapp.pistachiohq.com
                            example:
                                displayName: My iOS App
                                platform: IOS
                                ios:
                                    bundleId: com.example.myapp
                                    teamId: ABCD1234EF
            responses:
                '200':
                    description: App created
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Response containing the newly created app with API key.
                                properties:
                                    app:
                                        type: object
                                        description: |
                                            A registered application for any platform.
                                            Apps are platform-specific client applications within a project.
                                            Each app targets a specific platform and shares the project's user pool.
                                        properties:
                                            name:
                                                type: string
                                                description: Resource name in the format "projects/{project_id}/apps/{app_id}".
                                                example: projects/my-project/apps/my-ios-app
                                            appId:
                                                type: string
                                                description: Globally unique app identifier assigned by the system.
                                                maxLength: 64
                                                example: my-ios-app
                                            pistachioId:
                                                type: string
                                                description: |
                                                    Internal app identifier.
                                                    16 bytes encoded as 32 hex characters ending in '03'.
                                                example: a1b2c3d4e5f6789012345678901234503
                                            displayName:
                                                type: string
                                                description: Human-readable display name for the app.
                                                maxLength: 64
                                                example: My iOS App
                                            projectId:
                                                type: string
                                                description: The project this app belongs to.
                                                example: my-project
                                            platform:
                                                type: string
                                                description: Target platform for an app.
                                                enum:
                                                    - IOS
                                                    - ANDROID
                                                    - MACOS
                                                    - WINDOWS
                                                    - LINUX
                                                    - WEB
                                                example: IOS
                                            apiKey:
                                                type: string
                                                description: |
                                                    Auto-generated API key for this app.
                                                    Only returned on app creation.
                                                example: AIzaSyB1234567890abcdefg
                                            state:
                                                type: string
                                                description: Lifecycle state of an app.
                                                enum:
                                                    - ACTIVE
                                                    - DELETED
                                                example: ACTIVE
                                            ios:
                                                type: object
                                                description: iOS-specific app configuration.
                                                required:
                                                    - bundleId
                                                properties:
                                                    bundleId:
                                                        type: string
                                                        description: iOS bundle identifier (e.g., "com.example.myapp").
                                                        pattern: '^[a-zA-Z][a-zA-Z0-9-]*(\.[a-zA-Z][a-zA-Z0-9-]*)+$'
                                                        minLength: 1
                                                        maxLength: 255
                                                        example: com.example.myapp
                                                    appStoreId:
                                                        type: string
                                                        description: App Store ID (numeric). Optional.
                                                        example: "123456789"
                                                    teamId:
                                                        type: string
                                                        description: Apple Team ID for code signing verification.
                                                        maxLength: 10
                                                        example: ABCD1234EF
                                            android:
                                                type: object
                                                description: Android-specific app configuration.
                                                required:
                                                    - packageName
                                                properties:
                                                    packageName:
                                                        type: string
                                                        description: Android package name (e.g., "com.example.myapp").
                                                        pattern: '^[a-zA-Z][a-zA-Z0-9_]*(\.[a-zA-Z][a-zA-Z0-9_]*)+$'
                                                        minLength: 1
                                                        maxLength: 255
                                                        example: com.example.myapp
                                                    sha1Hashes:
                                                        type: array
                                                        description: SHA-1 certificate fingerprints for app verification.
                                                        items:
                                                            type: string
                                                        example:
                                                            - "AB:CD:EF:12:34:56:78:90:AB:CD:EF:12:34:56:78:90:AB:CD:EF:12"
                                                    sha256Hashes:
                                                        type: array
                                                        description: SHA-256 certificate fingerprints for app verification.
                                                        items:
                                                            type: string
                                                        example:
                                                            - "AB:CD:EF:12:34:56:78:90:AB:CD:EF:12:34:56:78:90:AB:CD:EF:12:34:56:78:90:AB:CD:EF:12:34:56:78:90"
                                            macos:
                                                type: object
                                                description: macOS-specific app configuration.
                                                required:
                                                    - bundleId
                                                properties:
                                                    bundleId:
                                                        type: string
                                                        description: macOS bundle identifier (e.g., "com.example.myapp").
                                                        pattern: '^[a-zA-Z][a-zA-Z0-9-]*(\.[a-zA-Z][a-zA-Z0-9-]*)+$'
                                                        minLength: 1
                                                        maxLength: 255
                                                        example: com.example.myapp
                                                    teamId:
                                                        type: string
                                                        description: Apple Team ID for code signing verification.
                                                        example: ABCD1234EF
                                                    macAppStoreId:
                                                        type: string
                                                        description: Mac App Store ID. Optional.
                                                        example: "123456789"
                                            windows:
                                                type: object
                                                description: Windows-specific app configuration.
                                                properties:
                                                    packageFamilyName:
                                                        type: string
                                                        description: MSIX package family name (e.g., "Publisher.AppName_hash").
                                                        example: Contoso.MyApp_8wekyb3d8bbwe
                                                    publisherId:
                                                        type: string
                                                        description: Publisher ID from Windows Store.
                                                        example: CN=Contoso
                                                    certThumbprints:
                                                        type: array
                                                        description: Authenticode certificate SHA-256 thumbprints.
                                                        items:
                                                            type: string
                                                    microsoftStoreId:
                                                        type: string
                                                        description: Microsoft Store product ID. Optional.
                                                        example: "9NBLGGH4R32N"
                                            linux:
                                                type: object
                                                description: Linux-specific app configuration.
                                                required:
                                                    - appName
                                                properties:
                                                    appName:
                                                        type: string
                                                        description: Application name for identification.
                                                        minLength: 1
                                                        maxLength: 64
                                                        example: my-app
                                                    flatpakId:
                                                        type: string
                                                        description: Flatpak app ID (e.g., "com.example.App"). Optional.
                                                        example: com.example.App
                                                    snapName:
                                                        type: string
                                                        description: Snap package name. Optional.
                                                        example: my-app
                                            web:
                                                type: object
                                                description: Web-specific app configuration.
                                                properties:
                                                    authorizedDomains:
                                                        type: array
                                                        description: Authorized domains for OAuth redirects and CORS.
                                                        items:
                                                            type: string
                                                        example:
                                                            - "https://myapp.example.com"
                                                            - "http://localhost:3000"
                                                    authDomain:
                                                        type: string
                                                        description: Auth domain for this app (e.g., "myapp.pistachiohq.com").
                                                        example: myapp.pistachiohq.com
                                            createdAt:
                                                type: string
                                                format: date-time
                                                description: Timestamp when the app was created.
                                                example: "2024-01-15T10:30:00Z"
                                            updatedAt:
                                                type: string
                                                format: date-time
                                                description: Timestamp when the app was last updated.
                                                example: "2024-01-15T10:30:00Z"
                '400':
                    description: Invalid platform config or displayName
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
                '401':
                    description: Invalid or missing credentials
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
                '403':
                    description: Permission denied
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
                '404':
                    description: Project not found
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
                '409':
                    description: App with same identifier already exists in this project
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
    /admin/v1/projects:
        get:
            operationId: listProjects
            summary: List projects
            description: |
                Lists all projects accessible to the service account.
                By default, only ACTIVE projects are returned.
                Results are paginated with cursor-based pagination.
            tags:
                - Projects
            security:
                - ApiKeyAuth: []
                  ServiceAccountAuth: []
            parameters:
                - name: pageSize
                  in: query
                  description: Number of results to return per page. Defaults to 20, maximum is 100.
                  required: false
                  schema:
                    type: integer
                    minimum: 0
                    maximum: 100
                    default: 20
                    example: 20
                - name: cursor
                  in: query
                  description: |
                    Cursor for pagination. Use "*" for the first page.
                    Use the `nextCursor` from the previous response for subsequent pages.
                  required: false
                  schema:
                    type: string
                    maxLength: 512
                    example: "*"
                - name: sort
                  in: query
                  description: |
                    Sort specification. Format: "field:direction" (e.g., "created_at:DESC").
                    Multiple fields can be comma-separated (e.g., "created_at:DESC,display_name:ASC").

                    Valid directions: ASC, DESC (case-insensitive).
                    Valid fields are endpoint-specific (see endpoint documentation).
                    Default sort is endpoint-specific (typically created_at:DESC).
                  required: false
                  schema:
                    type: string
                    pattern: '^[a-z_]+:(ASC|DESC|asc|desc)(,[a-z_]+:(ASC|DESC|asc|desc))*$'
                    example: "created_at:DESC"
                - name: showDeleted
                  in: query
                  description: If true, include deleted projects in the results.
                  required: false
                  schema:
                    type: boolean
                    default: false
            responses:
                '200':
                    description: List of projects
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Response containing a page of projects.
                                properties:
                                    projects:
                                        type: array
                                        description: The list of projects.
                                        items:
                                            type: object
                                            description: |
                                                Top-level container for apps, users, and resources.
                                                Projects provide isolated namespaces for authentication, data storage,
                                                and other platform services.
                                            properties:
                                                name:
                                                    type: string
                                                    description: Resource name in the format "projects/{project_id}".
                                                    example: projects/my-project
                                                projectId:
                                                    type: string
                                                    description: Unique project identifier. Immutable after creation.
                                                    pattern: '^[a-z][a-z0-9-]{4,28}[a-z0-9]$'
                                                    example: my-project
                                                pistachioId:
                                                    type: string
                                                    description: |
                                                        Internal project identifier.
                                                        16 bytes encoded as 32 hex characters ending in '01'.
                                                    example: a1b2c3d4e5f6789012345678901234501
                                                displayName:
                                                    type: string
                                                    description: Human-readable display name. Max 64 characters.
                                                    maxLength: 64
                                                    example: My Project
                                                state:
                                                    type: string
                                                    description: Lifecycle state of a project.
                                                    enum:
                                                        - ACTIVE
                                                        - DELETED
                                                    example: ACTIVE
                                                resources:
                                                    type: object
                                                    description: Default resources provisioned for a project.
                                                    properties:
                                                        hostingSite:
                                                            type: string
                                                            description: Default hosting site name.
                                                            example: my-project.pistachiohq.com
                                                        realtimeDatabaseInstance:
                                                            type: string
                                                            description: Default realtime database instance name.
                                                            example: my-project-default-rtdb
                                                        storageBucket:
                                                            type: string
                                                            description: Default storage bucket.
                                                            example: my-project.pistachiohq.storage
                                                createdAt:
                                                    type: string
                                                    format: date-time
                                                    description: Timestamp when the project was created.
                                                    example: "2024-01-15T10:30:00Z"
                                                updatedAt:
                                                    type: string
                                                    format: date-time
                                                    description: Timestamp when the project was last updated.
                                                    example: "2024-01-15T10:30:00Z"
                                    pagination:
                                        type: object
                                        description: Pagination metadata for list and search responses.
                                        properties:
                                            nextCursor:
                                                type: string
                                                description: |
                                                    Cursor for fetching the next page of results.
                                                    Pass this value as the `cursor` parameter in the next request.
                                                    When `nextCursor` equals the input `cursor`, there are no more results.
                                                example: eyJwYWdlIjogMn0
                                            totalCount:
                                                type: integer
                                                format: int64
                                                description: |
                                                    Total number of items matching the request.
                                                    May be omitted for performance reasons on large result sets.
                                                example: 42
                '400':
                    description: Invalid pagination parameters
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
                '401':
                    description: Invalid or missing credentials
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
                '403':
                    description: Permission denied
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
        post:
            operationId: createProject
            summary: Create a new project
            description: |
                Creates a new Pistachio project.
                Projects are the top-level container for apps, users, and resources.
                Each project can have multiple apps across different platforms
                that share the same user pool.
            tags:
                - Projects
            security:
                - ApiKeyAuth: []
                  ServiceAccountAuth: []
            requestBody:
                description: Project creation parameters
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            description: Request body for creating a new project.
                            properties:
                                projectId:
                                    type: string
                                    description: |
                                        Desired project ID. If not provided, one will be generated.
                                        Must be 6-30 characters, lowercase alphanumeric with hyphens.
                                    pattern: '^$|^[a-z][a-z0-9-]{4,28}[a-z0-9]$'
                                    maxLength: 30
                                    example: my-new-project
                                displayName:
                                    type: string
                                    description: |
                                        Human-readable display name.
                                        If not provided, projectId will be used as the display name.
                                    maxLength: 64
                                    example: My New Project
                                invitationCode:
                                    type: string
                                    description: |
                                        Invitation code for project creation.
                                        Must be a valid 16 hex character code.
                                        Required for gated project creation.
                                    pattern: '^$|^[a-f0-9]{16}$'
                                    maxLength: 16
                                    example: a1b2c3d4e5f67890
                            example:
                                projectId: my-new-project
                                displayName: My New Project
                                invitationCode: a1b2c3d4e5f67890
            responses:
                '200':
                    description: Project created
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Response containing the newly created project.
                                properties:
                                    project:
                                        type: object
                                        description: |
                                            Top-level container for apps, users, and resources.
                                            Projects provide isolated namespaces for authentication, data storage,
                                            and other platform services.
                                        properties:
                                            name:
                                                type: string
                                                description: Resource name in the format "projects/{project_id}".
                                                example: projects/my-project
                                            projectId:
                                                type: string
                                                description: Unique project identifier. Immutable after creation.
                                                pattern: '^[a-z][a-z0-9-]{4,28}[a-z0-9]$'
                                                example: my-project
                                            pistachioId:
                                                type: string
                                                description: |
                                                    Internal project identifier.
                                                    16 bytes encoded as 32 hex characters ending in '01'.
                                                example: a1b2c3d4e5f6789012345678901234501
                                            displayName:
                                                type: string
                                                description: Human-readable display name. Max 64 characters.
                                                maxLength: 64
                                                example: My Project
                                            state:
                                                type: string
                                                description: Lifecycle state of a project.
                                                enum:
                                                    - ACTIVE
                                                    - DELETED
                                                example: ACTIVE
                                            resources:
                                                type: object
                                                description: Default resources provisioned for a project.
                                                properties:
                                                    hostingSite:
                                                        type: string
                                                        description: Default hosting site name.
                                                        example: my-project.pistachiohq.com
                                                    realtimeDatabaseInstance:
                                                        type: string
                                                        description: Default realtime database instance name.
                                                        example: my-project-default-rtdb
                                                    storageBucket:
                                                        type: string
                                                        description: Default storage bucket.
                                                        example: my-project.pistachiohq.storage
                                            createdAt:
                                                type: string
                                                format: date-time
                                                description: Timestamp when the project was created.
                                                example: "2024-01-15T10:30:00Z"
                                            updatedAt:
                                                type: string
                                                format: date-time
                                                description: Timestamp when the project was last updated.
                                                example: "2024-01-15T10:30:00Z"
                '400':
                    description: Invalid projectId format or displayName
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
                '401':
                    description: Invalid or missing credentials
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
                '403':
                    description: Permission denied
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
                '409':
                    description: Project ID already exists
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
    /admin/v1/projects/{projectId}/tenants:
        get:
            operationId: listTenants
            summary: List tenants
            description: |
                Lists all tenants within a project.
                Results are paginated with cursor-based pagination.
            tags:
                - Tenants
            security:
                - ApiKeyAuth: []
                  ServiceAccountAuth: []
            parameters:
                - name: projectId
                  in: path
                  description: The project ID that owns the tenants
                  required: true
                  schema:
                    type: string
                    pattern: '^[a-z][a-z0-9-]{4,28}[a-z0-9]$'
                - name: pageSize
                  in: query
                  description: Number of results to return per page. Defaults to 20, maximum is 100.
                  required: false
                  schema:
                    type: integer
                    minimum: 0
                    maximum: 100
                    default: 20
                    example: 20
                - name: cursor
                  in: query
                  description: |
                    Cursor for pagination. Use "*" for the first page.
                    Use the `nextCursor` from the previous response for subsequent pages.
                  required: false
                  schema:
                    type: string
                    maxLength: 512
                    example: "*"
                - name: sort
                  in: query
                  description: |
                    Sort specification. Format: "field:direction" (e.g., "created_at:DESC").
                    Multiple fields can be comma-separated (e.g., "created_at:DESC,display_name:ASC").

                    Valid directions: ASC, DESC (case-insensitive).
                    Valid fields are endpoint-specific (see endpoint documentation).
                    Default sort is endpoint-specific (typically created_at:DESC).
                  required: false
                  schema:
                    type: string
                    pattern: '^[a-z_]+:(ASC|DESC|asc|desc)(,[a-z_]+:(ASC|DESC|asc|desc))*$'
                    example: "created_at:DESC"
            responses:
                '200':
                    description: List of tenants
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Response containing a page of tenants.
                                properties:
                                    tenants:
                                        type: array
                                        description: The list of tenants.
                                        items:
                                            type: object
                                            description: |
                                                Multi-tenant isolation within a project.
                                                Tenants provide isolated user pools for B2B SaaS applications
                                                where each customer needs their own authentication configuration.
                                            properties:
                                                name:
                                                    type: string
                                                    description: Resource name in the format "projects/{project_id}/tenants/{tenant_id}".
                                                    example: projects/my-project/tenants/MyTenant
                                                tenantId:
                                                    type: string
                                                    description: |
                                                        Unique tenant identifier within the project. Immutable after creation.
                                                        Case-sensitive, 1-128 characters, alphanumeric with underscores.
                                                    pattern: '^[a-zA-Z0-9_]+$'
                                                    maxLength: 128
                                                    example: MyTenant
                                                pistachioId:
                                                    type: string
                                                    description: |
                                                        Internal tenant identifier.
                                                        16 bytes encoded as 32 hex characters ending in '02'.
                                                    example: a1b2c3d4e5f6789012345678901234502
                                                displayName:
                                                    type: string
                                                    description: Human-readable display name. Max 256 characters.
                                                    maxLength: 256
                                                    example: My Tenant
                                                allowPdpkaSignup:
                                                    type: boolean
                                                    description: |
                                                        Whether passphrase-derived public key authentication (PDPKA) sign-up is allowed.
                                                        When true, users can register using passphrase-derived keypairs.
                                                    example: true
                                                disableAuth:
                                                    type: boolean
                                                    description: |
                                                        Whether all authentication is disabled for this tenant.
                                                        When true, users cannot sign in to this tenant.
                                                    example: false
                                                mfaConfig:
                                                    type: array
                                                    description: |
                                                        Enabled MFA providers for this tenant.
                                                        Valid values: "phone", "totp"
                                                    items:
                                                        type: string
                                                        enum:
                                                            - phone
                                                            - totp
                                                    example:
                                                        - totp
                                                createdAt:
                                                    type: string
                                                    format: date-time
                                                    description: Timestamp when the tenant was created.
                                                    example: "2024-01-15T10:30:00Z"
                                                updatedAt:
                                                    type: string
                                                    format: date-time
                                                    description: Timestamp when the tenant was last updated.
                                                    example: "2024-01-15T10:30:00Z"
                                    pagination:
                                        type: object
                                        description: Pagination metadata for list and search responses.
                                        properties:
                                            nextCursor:
                                                type: string
                                                description: |
                                                    Cursor for fetching the next page of results.
                                                    Pass this value as the `cursor` parameter in the next request.
                                                    When `nextCursor` equals the input `cursor`, there are no more results.
                                                example: eyJwYWdlIjogMn0
                                            totalCount:
                                                type: integer
                                                format: int64
                                                description: |
                                                    Total number of items matching the request.
                                                    May be omitted for performance reasons on large result sets.
                                                example: 42
                '400':
                    description: Invalid pagination parameters
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
                '401':
                    description: Invalid or missing credentials
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
                '403':
                    description: Permission denied
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
                '404':
                    description: Project not found
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Standard error response
                                properties:
                                    code:
                                        type: string
                                        description: Machine-readable error code
                                        example: INVALID_ARGUMENT
                                    message:
                                        type: string
                                        description: Human-readable error message
                                        example: The provided value is invalid
                                required:
                                    - code
                                    - message
        post:
            operationId: createTenant
            summary: Create a new tenant
            description: |
                Creates a new tenant within a project.
                Tenants provide multi-tenant isolation, allowing each tenant
                to have its own user pool and authentication configuration.
            tags:
                - Tenants
            security:
                - ApiKeyAuth: []
                  ServiceAccountAuth: []
            parameters:
                - name: projectId
                  in: path
                  description: The project ID that will own the tenant
                  required: true
                  schema:
                    type: string
                    pattern: '^[a-z][a-z0-9-]{4,28}[a-z0-9]$'
            requestBody:
                description: Tenant creation parameters
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            description: Request body for creating a new tenant.
                            required:
                                - displayName
                            properties:
                                tenantId:
                                    type: string
                                    description: |
                                        Desired tenant ID. If not provided, one will be generated.
                                        Must be 1-128 characters, alphanumeric with underscores, case-sensitive.
                                    pattern: '^$|^[a-zA-Z0-9_]+$'
                                    maxLength: 128
                                    example: MyTenant
                                displayName:
                                    type: string
                                    description: Human-readable display name. Required. Max 256 characters.
                                    minLength: 1
                                    maxLength: 256
                                    example: My Tenant
                                allowPdpkaSignup:
                                    type: boolean
                                    description: |
                                        Whether PDPKA sign-up is allowed.
                                        Defaults to true if not specified.
                                    example: true
                                disableAuth:
                                    type: boolean
                                    description: |
                                        Whether authentication is disabled.
                                        Defaults to false if not specified.
                                    example: false
                                mfaConfig:
                                    type: array
                                    description: |
                                        Enabled MFA providers for this tenant.
                                        Valid values: "phone", "totp"
                                    items:
                                        type: string
                                        enum:
                                            - phone
                                            - totp
                                    example:
                                        - totp
                            example:
                                tenantId: MyTenant
                                displayName: My Tenant
                                allowPdpkaSignup: true
                                mfaConfig:
                                    - totp
            responses:
                '200':
                    description: Tenant created
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Response containing the newly created tenant.
                                properties:
                                    tenant:
                                        type: object
                                        description: |
                                            Multi-tenant isolation within a project.
                                            Tenants provide isolated user pools for B2B SaaS applications
                                            where each customer needs their own authentication configuration.
                                        properties:
                                            name:
                                                type: string
                                                description: Resource name in the format "projects/{project_id}/tenants/{tenant_id}".
                                                example: projects/my-project/tenants/MyTenant
                                            tenantId:
                                                type: string
                                                description: |
                                                    Unique tenant identifier within the project. Immutable after creation.
                                                    Case-sensitive, 1-128 characters, alphanumeric with underscores.
                                                pattern: '^[a-zA-Z0-9_]+$'
                                                maxLength: 128
                                                example: MyTenant
                                            pistachioId:
                                                type: string
                                                description: |
                                                    Internal tenant identifier.
                                                    16 bytes encoded as 32 hex characters ending in '02'.
                                                example: a1b2c3d4e5f6789012345678901234502
                                            displayName:
                                                type: string
                                                description: Human-readable display name. Max 256 characters.
                                                maxLength: 256
                                                example: My Tenant
                                            allowPdpkaSignup:
                                                type: boolean
                                                description: |
                                                    Whether passphrase-derived public key authentication (PDPKA) sign-up is allowed.
                                                    When true, users can register using passphrase-derived keypairs.
                                                example: true
                                            disableAuth:
                                                type: boolean
                                                description: |
                                                    Whether all authentication is disabled for this tenant.
                                                    When true, users cannot sign in to this tenant.
                                                example: false
                                            mfaConfig:
                                                type: array
                                                description: |
                                                    Enabled MFA providers for this tenant.
                                                    Valid values: "phone", "totp"
                                                items:
                                                    type: string
                                                    enum:
                                                        - phone
                                                        - totp
                                                example:
                                                    - totp
                                            createdAt:
                                                type: string
                                                format: date-time
                                                description: Timestamp when the tenant was created.
                                                example: "2024-01-15T10:30:00Z"
                                            updatedAt:
                                                type: string
                                                format: date-time
                                                description: Timestamp when the tenant was last updated.
                                                example: "2024-01-15T10:30:00Z"
                '400':
                    description: Invalid tenantId format or displayName
                    content:
                        application/json:
                            schema:
[...]
