openapi: 3.1.0
info:
    title: Pistachio Admin API
    description: |
        Administrative API for managing Pistachio projects and resources.
        Requires service account authentication.
    version: 0.1.0
    contact:
        name: Pistachio Team
servers:
    - url: https://admin.pistachiohq.com/v1
      description: Production server
    - url: https://admin.staging.pistachiohq.com/v1
      description: Staging server
tags:
    - name: Projects
      description: Project management operations
    - name: Tenants
      description: Tenant management operations within projects
    - name: Users
      description: User management operations within projects and tenants
    - name: Apps
      description: App management operations within projects
    - name: Auth Providers
      description: Authentication provider configuration for projects and tenants
paths:
    /admin/v1/projects:
        get:
            operationId: listProjects
            summary: List projects
            description: |
                Lists all projects accessible to the service account.
                By default, only ACTIVE projects are returned.
                Results are paginated with cursor-based pagination.
            tags:
                - Projects
            security:
                - ApiKeyAuth: []
                  ServiceAccountAuth: []
            parameters:
                - name: pageSize
                  in: query
                  description: Number of results to return per page. Defaults to 20, maximum is 100.
                  required: false
                  schema:
                    type: integer
                    minimum: 0
                    maximum: 100
                    default: 20
                    example: 20
                - name: cursor
                  in: query
                  description: |
                    Cursor for pagination. Use "*" for the first page.
                    Use the `nextCursor` from the previous response for subsequent pages.
                  required: false
                  schema:
                    type: string
                    maxLength: 512
                    example: "*"
                - name: sort
                  in: query
                  description: |
                    Sort specification. Format: "field:direction" (e.g., "created_at:DESC").
                    Multiple fields can be comma-separated (e.g., "created_at:DESC,display_name:ASC").

                    Valid directions: ASC, DESC (case-insensitive).
                    Valid fields are endpoint-specific (see endpoint documentation).
                    Default sort is endpoint-specific (typically created_at:DESC).
                  required: false
                  schema:
                    type: string
                    pattern: '^[a-z_]+:(ASC|DESC|asc|desc)(,[a-z_]+:(ASC|DESC|asc|desc))*$'
                    example: "created_at:DESC"
                - name: showDeleted
                  in: query
                  description: If true, include deleted projects in the results.
                  required: false
                  schema:
                    type: boolean
                    default: false
            responses:
                '200':
                    description: List of projects
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Response containing a page of projects.
                                properties:
                                    projects:
                                        type: array
                                        description: The list of projects.
                                        items:
                                            type: object
                                            description: |
                                                Top-level container for apps, users, and resources.
                                                Projects provide isolated namespaces for authentication, data storage,
                                                and other platform services.
                                            properties:
                                                name:
                                                    type: string
                                                    description: Resource name in the format "projects/{project_id}".
                                                    example: projects/my-project
                                                projectId:
                                                    type: string
                                                    description: Unique project identifier. Immutable after creation.
                                                    pattern: '^[a-z][a-z0-9-]{4,28}[a-z0-9]$'
                                                    example: my-project
                                                pistachioId:
                                                    type: string
                                                    description: |
                                                        Internal project identifier.
                                                        16 bytes encoded as 32 hex characters ending in '01'.
                                                    example: a1b2c3d4e5f6789012345678901234501
                                                displayName:
                                                    type: string
                                                    description: Human-readable display name. Max 64 characters.
                                                    maxLength: 64
                                                    example: My Project
                                                state:
                                                    type: string
                                                    description: Lifecycle state of a project.
                                                    enum:
                                                        - ACTIVE
                                                        - DELETED
                                                    example: ACTIVE
                                                resources:
                                                    type: object
                                                    description: Default resources provisioned for a project.
                                                    properties:
                                                        hostingSite:
                                                            type: string
                                                            description: Default hosting site name.
                                                            example: my-project.pistachiohq.com
                                                        realtimeDatabaseInstance:
                                                            type: string
                                                            description: Default realtime database instance name.
                                                            example: my-project-default-rtdb
                                                        storageBucket:
                                                            type: string
                                                            description: Default storage bucket.
                                                            example: my-project.pistachiohq.storage
                                                createdAt:
                                                    type: string
                                                    format: date-time
                                                    description: Timestamp when the project was created.
                                                    example: "2024-01-15T10:30:00Z"
                                                updatedAt:
                                                    type: string
                                                    format: date-time
                                                    description: Timestamp when the project was last updated.
                                                    example: "2024-01-15T10:30:00Z"
                                    pagination:
                                        type: object
                                        description: Pagination metadata for list and search responses.
                                        properties:
                                            nextCursor:
                                                type: string
                                                description: |
                                                    Cursor for fetching the next page of results.
                                                    Pass this value as the `cursor` parameter in the next request.
                                                    When `nextCursor` equals the input `cursor`, there are no more results.
                                                example: eyJwYWdlIjogMn0
                                            totalCount:
                                                type: integer
                                                format: int64
                                                description: |
                                                    Total number of items matching the request.
                                                    May be omitted for performance reasons on large result sets.
                                                example: 42
                '400':
                    description: Invalid pagination parameters
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                '401':
                    description: Invalid or missing credentials
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                '403':
                    description: Permission denied
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                '500':
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/internal
                                title: Internal Server Error
                                status: 500
                                detail: An unexpected error occurred. Please try again later.
                '503':
                    description: Service temporarily unavailable
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/unavailable
                                title: Service Unavailable
                                status: 503
                                detail: The service is temporarily unavailable. Please try again later.
        post:
            operationId: createProject
            summary: Create a new project
            description: |
                Creates a new Pistachio project.
                Projects are the top-level container for apps, users, and resources.
                Each project can have multiple apps across different platforms
                that share the same user pool.
            tags:
                - Projects
            security:
                - ApiKeyAuth: []
                  ServiceAccountAuth: []
            requestBody:
                description: Project creation parameters
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            description: Request body for creating a new project.
                            properties:
                                projectId:
                                    type: string
                                    description: |
                                        Desired project ID. If not provided, one will be generated.
                                        Must be 6-30 characters, lowercase alphanumeric with hyphens.
                                    pattern: '^$|^[a-z][a-z0-9-]{4,28}[a-z0-9]$'
                                    maxLength: 30
                                    example: my-new-project
                                displayName:
                                    type: string
                                    description: |
                                        Human-readable display name.
                                        If not provided, projectId will be used as the display name.
                                    maxLength: 64
                                    example: My New Project
                                invitationCode:
                                    type: string
                                    description: |
                                        Invitation code for project creation.
                                        Must be a valid 16 hex character code.
                                        Required for gated project creation.
                                    pattern: '^$|^[a-f0-9]{16}$'
                                    maxLength: 16
                                    example: a1b2c3d4e5f67890
                            example:
                                projectId: my-new-project
                                displayName: My New Project
                                invitationCode: a1b2c3d4e5f67890
            responses:
                '201':
                    description: Project created successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Response containing the newly created project.
                                properties:
                                    project:
                                        type: object
                                        description: |
                                            Top-level container for apps, users, and resources.
                                            Projects provide isolated namespaces for authentication, data storage,
                                            and other platform services.
                                        properties:
                                            name:
                                                type: string
                                                description: Resource name in the format "projects/{project_id}".
                                                example: projects/my-project
                                            projectId:
                                                type: string
                                                description: Unique project identifier. Immutable after creation.
                                                pattern: '^[a-z][a-z0-9-]{4,28}[a-z0-9]$'
                                                example: my-project
                                            pistachioId:
                                                type: string
                                                description: |
                                                    Internal project identifier.
                                                    16 bytes encoded as 32 hex characters ending in '01'.
                                                example: a1b2c3d4e5f6789012345678901234501
                                            displayName:
                                                type: string
                                                description: Human-readable display name. Max 64 characters.
                                                maxLength: 64
                                                example: My Project
                                            state:
                                                type: string
                                                description: Lifecycle state of a project.
                                                enum:
                                                    - ACTIVE
                                                    - DELETED
                                                example: ACTIVE
                                            resources:
                                                type: object
                                                description: Default resources provisioned for a project.
                                                properties:
                                                    hostingSite:
                                                        type: string
                                                        description: Default hosting site name.
                                                        example: my-project.pistachiohq.com
                                                    realtimeDatabaseInstance:
                                                        type: string
                                                        description: Default realtime database instance name.
                                                        example: my-project-default-rtdb
                                                    storageBucket:
                                                        type: string
                                                        description: Default storage bucket.
                                                        example: my-project.pistachiohq.storage
                                            createdAt:
                                                type: string
                                                format: date-time
                                                description: Timestamp when the project was created.
                                                example: "2024-01-15T10:30:00Z"
                                            updatedAt:
                                                type: string
                                                format: date-time
                                                description: Timestamp when the project was last updated.
                                                example: "2024-01-15T10:30:00Z"
                '400':
                    description: Invalid projectId format or displayName
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                '401':
                    description: Invalid or missing credentials
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                '403':
                    description: Permission denied
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                '409':
                    description: Project ID already exists
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                '500':
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/internal
                                title: Internal Server Error
                                status: 500
                                detail: An unexpected error occurred. Please try again later.
                '503':
                    description: Service temporarily unavailable
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/unavailable
                                title: Service Unavailable
                                status: 503
                                detail: The service is temporarily unavailable. Please try again later.
    /admin/v1/projects/{projectId}/tenants:
        get:
            operationId: listTenants
            summary: List tenants
            description: |
                Lists all tenants within a project.
                Results are paginated with cursor-based pagination.
            tags:
                - Tenants
            security:
                - ApiKeyAuth: []
                  ServiceAccountAuth: []
            parameters:
                - name: projectId
                  in: path
                  description: The project ID that owns the tenants
                  required: true
                  schema:
                    type: string
                    pattern: '^[a-z][a-z0-9-]{4,28}[a-z0-9]$'
                - name: pageSize
                  in: query
                  description: Number of results to return per page. Defaults to 20, maximum is 100.
                  required: false
                  schema:
                    type: integer
                    minimum: 0
                    maximum: 100
                    default: 20
                    example: 20
                - name: cursor
                  in: query
                  description: |
                    Cursor for pagination. Use "*" for the first page.
                    Use the `nextCursor` from the previous response for subsequent pages.
                  required: false
                  schema:
                    type: string
                    maxLength: 512
                    example: "*"
                - name: sort
                  in: query
                  description: |
                    Sort specification. Format: "field:direction" (e.g., "created_at:DESC").
                    Multiple fields can be comma-separated (e.g., "created_at:DESC,display_name:ASC").

                    Valid directions: ASC, DESC (case-insensitive).
                    Valid fields are endpoint-specific (see endpoint documentation).
                    Default sort is endpoint-specific (typically created_at:DESC).
                  required: false
                  schema:
                    type: string
                    pattern: '^[a-z_]+:(ASC|DESC|asc|desc)(,[a-z_]+:(ASC|DESC|asc|desc))*$'
                    example: "created_at:DESC"
            responses:
                '200':
                    description: List of tenants
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Response containing a page of tenants.
                                properties:
                                    tenants:
                                        type: array
                                        description: The list of tenants.
                                        items:
                                            type: object
                                            description: |
                                                Multi-tenant isolation within a project.
                                                Tenants provide isolated user pools for B2B SaaS applications
                                                where each customer needs their own authentication configuration.
                                            properties:
                                                name:
                                                    type: string
                                                    description: Resource name in the format "projects/{project_id}/tenants/{tenant_id}".
                                                    example: projects/my-project/tenants/MyTenant
                                                tenantId:
                                                    type: string
                                                    description: |
                                                        Unique tenant identifier within the project. Immutable after creation.
                                                        Case-sensitive, 1-128 characters, alphanumeric with underscores.
                                                    pattern: '^[a-zA-Z0-9_]+$'
                                                    maxLength: 128
                                                    example: MyTenant
                                                pistachioId:
                                                    type: string
                                                    description: |
                                                        Internal tenant identifier.
                                                        16 bytes encoded as 32 hex characters ending in '02'.
                                                    example: a1b2c3d4e5f6789012345678901234502
                                                displayName:
                                                    type: string
                                                    description: Human-readable display name. Max 256 characters.
                                                    maxLength: 256
                                                    example: My Tenant
                                                allowPdpkaSignup:
                                                    type: boolean
                                                    description: |
                                                        Whether passphrase-derived public key authentication (PDPKA) sign-up is allowed.
                                                        When true, users can register using passphrase-derived keypairs.
                                                    example: true
                                                disableAuth:
                                                    type: boolean
                                                    description: |
                                                        Whether all authentication is disabled for this tenant.
                                                        When true, users cannot sign in to this tenant.
                                                    example: false
                                                mfaConfig:
                                                    type: array
                                                    description: |
                                                        Enabled MFA providers for this tenant.
                                                        Valid values: "phone", "totp"
                                                    items:
                                                        type: string
                                                        enum:
                                                            - phone
                                                            - totp
                                                    example:
                                                        - totp
                                                createdAt:
                                                    type: string
                                                    format: date-time
                                                    description: Timestamp when the tenant was created.
                                                    example: "2024-01-15T10:30:00Z"
                                                updatedAt:
                                                    type: string
                                                    format: date-time
                                                    description: Timestamp when the tenant was last updated.
                                                    example: "2024-01-15T10:30:00Z"
                                    pagination:
                                        type: object
                                        description: Pagination metadata for list and search responses.
                                        properties:
                                            nextCursor:
                                                type: string
                                                description: |
                                                    Cursor for fetching the next page of results.
                                                    Pass this value as the `cursor` parameter in the next request.
                                                    When `nextCursor` equals the input `cursor`, there are no more results.
                                                example: eyJwYWdlIjogMn0
                                            totalCount:
                                                type: integer
                                                format: int64
                                                description: |
                                                    Total number of items matching the request.
                                                    May be omitted for performance reasons on large result sets.
                                                example: 42
                '400':
                    description: Invalid pagination parameters
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                '401':
                    description: Invalid or missing credentials
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                '403':
                    description: Permission denied
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                '404':
                    description: Project not found
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                '500':
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/internal
                                title: Internal Server Error
                                status: 500
                                detail: An unexpected error occurred. Please try again later.
                '503':
                    description: Service temporarily unavailable
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/unavailable
                                title: Service Unavailable
                                status: 503
                                detail: The service is temporarily unavailable. Please try again later.
        post:
            operationId: createTenant
            summary: Create a new tenant
            description: |
                Creates a new tenant within a project.
                Tenants provide multi-tenant isolation, allowing each tenant
                to have its own user pool and authentication configuration.
            tags:
                - Tenants
            security:
                - ApiKeyAuth: []
                  ServiceAccountAuth: []
            parameters:
                - name: projectId
                  in: path
                  description: The project ID that will own the tenant
                  required: true
                  schema:
                    type: string
                    pattern: '^[a-z][a-z0-9-]{4,28}[a-z0-9]$'
[...]
