openapi: 3.1.0
info:
    title: Pistachio API
    description: |
        API for end-to-end encrypted applications.
    version: 0.1.0
    contact:
        name: Pistachio Team
servers:
    - url: https://api.pistachiohq.com/v1
      description: Production server
    - url: https://api.staging.pistachiohq.com/v1
      description: Staging server
tags:
    - name: Health
      description: Service health checks
    - name: Auth
      description: Authentication validation endpoints
paths:
    /health:
        get:
            operationId: checkHealth
            summary: Check service health
            description: Returns the health status of the service.
            tags:
                - Health
            parameters:
                - name: service
                  in: query
                  required: false
                  description: The service name to check. If empty, checks overall service health.
                  schema:
                    type: string
                    maxLength: 256
            responses:
                '200':
                    description: Health check response
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Health check response
                                properties:
                                    status:
                                        type: string
                                        description: Represents the health state of a service
                                        example: SERVING_STATUS_SERVING
                                        enum:
                                            - SERVING_STATUS_UNSPECIFIED
                                            - SERVING_STATUS_SERVING
                                            - SERVING_STATUS_NOT_SERVING
                                required:
                                    - status
                            example:
                                status: SERVING_STATUS_SERVING
                '400':
                    description: Invalid service parameter
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/invalid_argument
                                title: Invalid Argument
                                status: 400
                                detail: "service: unknown service name"
                '500':
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/internal
                                title: Internal Server Error
                                status: 500
                                detail: An unexpected error occurred. Please try again later.
                '503':
                    description: Service temporarily unavailable
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/unavailable
                                title: Service Unavailable
                                status: 503
                                detail: The service is temporarily unavailable. Please try again later.
    /auth/validate-key:
        get:
            operationId: validateApiKey
            summary: Validate API key
            description: Validates that the provided API key is valid.
            tags:
                - Auth
            security:
                - ApiKeyAuth: []
            responses:
                '200':
                    description: API key is valid
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Response indicating whether credentials are valid
                                properties:
                                    valid:
                                        type: boolean
                                        description: Whether the provided credentials are valid
                                        example: true
                                required:
                                    - valid
                            example:
                                valid: true
                '401':
                    description: Invalid or missing API key
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/unauthenticated
                                title: Unauthenticated
                                status: 401
                                detail: Invalid or missing API key
                '500':
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/internal
                                title: Internal Server Error
                                status: 500
                                detail: An unexpected error occurred. Please try again later.
                '503':
                    description: Service temporarily unavailable
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/unavailable
                                title: Service Unavailable
                                status: 503
                                detail: The service is temporarily unavailable. Please try again later.
    /auth/validate-token:
        get:
            operationId: validateToken
            summary: Validate bearer token
            description: Validates that the provided bearer token is valid.
            tags:
                - Auth
            security:
                - BearerAuth: []
            responses:
                '200':
                    description: Token is valid
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Response indicating whether credentials are valid
                                properties:
                                    valid:
                                        type: boolean
                                        description: Whether the provided credentials are valid
                                        example: true
                                required:
                                    - valid
                            example:
                                valid: true
                '401':
                    description: Invalid or missing token
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/unauthenticated
                                title: Unauthenticated
                                status: 401
                                detail: Invalid or missing token
                '500':
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/internal
                                title: Internal Server Error
                                status: 500
                                detail: An unexpected error occurred. Please try again later.
                '503':
                    description: Service temporarily unavailable
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/unavailable
                                title: Service Unavailable
                                status: 503
                                detail: The service is temporarily unavailable. Please try again later.
    /auth/validate-service-account:
        get:
            operationId: validateServiceAccount
            summary: Validate service account
            description: Validates that the provided service account credential is valid.
            tags:
                - Auth
            security:
                - ServiceAccountAuth: []
            responses:
                '200':
                    description: Service account credential is valid
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Response indicating whether credentials are valid
                                properties:
                                    valid:
                                        type: boolean
                                        description: Whether the provided credentials are valid
                                        example: true
                                required:
                                    - valid
                            example:
                                valid: true
                '401':
                    description: Invalid or missing service account credential
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/unauthenticated
                                title: Unauthenticated
                                status: 401
                                detail: Invalid or missing service account credential
                '500':
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/internal
                                title: Internal Server Error
                                status: 500
                                detail: An unexpected error occurred. Please try again later.
                '503':
                    description: Service temporarily unavailable
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/unavailable
                                title: Service Unavailable
                                status: 503
                                detail: The service is temporarily unavailable. Please try again later.
components:
    securitySchemes:
        ApiKeyAuth:
            type: apiKey
            in: query
            name: key
            description: API key for client SDK operations. API keys are auto-generated per app and identify the project.
        BearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT
            description: ID token (JWT) for authenticated operations. Obtained via sign-in and must be included in the Authorization header.
        ServiceAccountAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT
            description: Service account credential for admin operations.
