openapi: 3.1.0
info:
    title: Pistachio API
    description: |
        API for end-to-end encrypted applications.
    version: 0.1.0
    contact:
        name: Pistachio Team
servers:
    - url: https://api.pistachiohq.com/v1
      description: Production server
    - url: https://api.staging.pistachiohq.com/v1
      description: Staging server
tags:
    - name: Health
      description: Service health checks
    - name: Auth
      description: Authentication and authorization endpoints
    - name: MFA
      description: Multi-factor authentication endpoints
    - name: User
      description: User self-service endpoints
paths:
    /health:
        get:
            operationId: checkHealth
            summary: Check service health
            description: Returns the health status of the service.
            tags:
                - Health
            parameters:
                - name: service
                  in: query
                  required: false
                  description: The service name to check. If empty, checks overall service health.
                  schema:
                    type: string
                    maxLength: 256
            responses:
                '200':
                    description: Health check response
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Health check response
                                properties:
                                    status:
                                        type: string
                                        description: Represents the health state of a service
                                        example: SERVING_STATUS_SERVING
                                        enum:
                                            - SERVING_STATUS_UNSPECIFIED
                                            - SERVING_STATUS_SERVING
                                            - SERVING_STATUS_NOT_SERVING
                                required:
                                    - status
                            example:
                                status: SERVING_STATUS_SERVING
                '400':
                    description: Invalid service parameter
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/invalid_argument
                                title: Invalid Argument
                                status: 400
                                detail: "service: unknown service name"
                '500':
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/internal
                                title: Internal Server Error
                                status: 500
                                detail: An unexpected error occurred. Please try again later.
                '503':
                    description: Service temporarily unavailable
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/unavailable
                                title: Service Unavailable
                                status: 503
                                detail: The service is temporarily unavailable. Please try again later.
    /auth/validate-key:
        get:
            operationId: validateApiKey
            summary: Validate API key
            description: Validates that the provided API key is valid.
            tags:
                - Auth
            security:
                - ApiKeyAuth: []
            responses:
                '200':
                    description: API key is valid
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Response indicating whether credentials are valid
                                properties:
                                    valid:
                                        type: boolean
                                        description: Whether the provided credentials are valid
                                        example: true
                                required:
                                    - valid
                            example:
                                valid: true
                '401':
                    description: Invalid or missing API key
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/unauthenticated
                                title: Unauthenticated
                                status: 401
                                detail: Invalid or missing API key
                '500':
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/internal
                                title: Internal Server Error
                                status: 500
                                detail: An unexpected error occurred. Please try again later.
                '503':
                    description: Service temporarily unavailable
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/unavailable
                                title: Service Unavailable
                                status: 503
                                detail: The service is temporarily unavailable. Please try again later.
    /user/me:
        get:
            operationId: getCurrentUser
            summary: Get current user
            description: |
                Gets the profile of the currently authenticated user.
            tags:
                - User
            security:
                - ApiKeyAuth: []
                  BearerAuth: []
            responses:
                '200':
                    description: Current user profile
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Response containing the current user's profile.
                                properties:
                                    user:
                                        type: object
                                        description: The current authenticated user's profile.
                                        required:
                                            - pistachioId
                                            - emailVerified
                                            - disabled
                                            - createdAt
                                        properties:
                                            pistachioId:
                                                type: string
                                                description: The user's unique identifier.
                                                pattern: '^[a-fA-F0-9]{30}00$'
                                                example: a1b2c3d4e5f6789012345678901234500
                                            tenantId:
                                                type:
                                                    - string
                                                    - 'null'
                                                description: Tenant ID if the user belongs to a tenant.
                                                example: my-tenant
                                            email:
                                                type:
                                                    - string
                                                    - 'null'
                                                format: email
                                                description: The user's email address.
                                                example: user@example.com
                                            emailVerified:
                                                type: boolean
                                                description: Whether the email address has been verified.
                                                example: true
                                            phoneNumber:
                                                type:
                                                    - string
                                                    - 'null'
                                                pattern: '^\+[1-9]\d{1,14}$'
                                                description: The user's phone number in E.164 format.
                                                example: "+14155551234"
                                            displayName:
                                                type:
                                                    - string
                                                    - 'null'
                                                description: The user's display name.
                                                maxLength: 256
                                                example: John Doe
                                            photoUrl:
                                                type:
                                                    - string
                                                    - 'null'
                                                format: uri
                                                description: URL to the user's profile photo.
                                                example: "https://example.com/photo.jpg"
                                            disabled:
                                                type: boolean
                                                description: Whether the account is disabled.
                                                example: false
                                            createdAt:
                                                type: string
                                                format: date-time
                                                description: When the account was created.
                                                example: "2024-01-15T10:30:00Z"
                                            lastSignInAt:
                                                type:
                                                    - string
                                                    - 'null'
                                                format: date-time
                                                description: When the user last signed in.
                                                example: "2024-01-20T14:45:00Z"
                                            providers:
                                                type: array
                                                description: Linked authentication providers.
                                                items:
                                                    type: object
                                                    description: An authentication provider linked to the user's account.
                                                    properties:
                                                        providerId:
                                                            type: string
                                                            description: The provider identifier.
                                                            example: google.com
                                                        providerType:
                                                            type: string
                                                            enum:
                                                                - PDPKA
                                                                - OAUTH
                                                                - OIDC
                                                                - ANONYMOUS
                                                            description: The type of provider.
                                                            example: OAUTH
                                                        federatedId:
                                                            type: string
                                                            description: The user's ID with this provider.
                                                            example: "1234567890"
                                                        email:
                                                            type:
                                                                - string
                                                                - 'null'
                                                            format: email
                                                            description: Email from this provider.
                                                            example: user@gmail.com
                                                        displayName:
                                                            type:
                                                                - string
                                                                - 'null'
                                                            description: Display name from this provider.
                                                            example: John Doe
                                                        photoUrl:
                                                            type:
                                                                - string
                                                                - 'null'
                                                            format: uri
                                                            description: Photo URL from this provider.
                                                            example: "https://lh3.googleusercontent.com/..."
                '401':
                    description: Invalid or missing credentials
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                '500':
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/internal
                                title: Internal Server Error
                                status: 500
                                detail: An unexpected error occurred. Please try again later.
                '503':
                    description: Service temporarily unavailable
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/unavailable
                                title: Service Unavailable
                                status: 503
                                detail: The service is temporarily unavailable. Please try again later.
        patch:
            operationId: updateCurrentUser
            summary: Update current user
            description: |
                Updates the profile of the currently authenticated user.
                Only display name and photo URL can be updated.
                Email and phone changes require verification flows.
            tags:
                - User
            security:
                - ApiKeyAuth: []
                  BearerAuth: []
            requestBody:
                description: Profile update parameters
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            description: |
                                Request body for updating the current user's profile.
                                Only provided fields are updated.
                            properties:
                                displayName:
                                    type:
                                        - string
                                        - 'null'
                                    description: New display name. Set to null to clear.
                                    maxLength: 256
                                    example: Jane Doe
                                photoUrl:
                                    type:
                                        - string
                                        - 'null'
                                    format: uri
                                    description: New photo URL. Set to null to clear.
                                    example: "https://example.com/newphoto.jpg"
            responses:
                '200':
                    description: User profile updated
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Response containing the updated user profile.
                                properties:
                                    user:
                                        type: object
                                        description: The current authenticated user's profile.
                                        required:
                                            - pistachioId
                                            - emailVerified
                                            - disabled
                                            - createdAt
                                        properties:
                                            pistachioId:
                                                type: string
                                                description: The user's unique identifier.
                                                pattern: '^[a-fA-F0-9]{30}00$'
                                                example: a1b2c3d4e5f6789012345678901234500
                                            tenantId:
                                                type:
                                                    - string
                                                    - 'null'
                                                description: Tenant ID if the user belongs to a tenant.
                                                example: my-tenant
                                            email:
                                                type:
                                                    - string
                                                    - 'null'
                                                format: email
                                                description: The user's email address.
                                                example: user@example.com
                                            emailVerified:
                                                type: boolean
                                                description: Whether the email address has been verified.
                                                example: true
                                            phoneNumber:
                                                type:
                                                    - string
                                                    - 'null'
                                                pattern: '^\+[1-9]\d{1,14}$'
                                                description: The user's phone number in E.164 format.
                                                example: "+14155551234"
                                            displayName:
                                                type:
                                                    - string
                                                    - 'null'
                                                description: The user's display name.
                                                maxLength: 256
                                                example: John Doe
                                            photoUrl:
                                                type:
                                                    - string
                                                    - 'null'
                                                format: uri
                                                description: URL to the user's profile photo.
                                                example: "https://example.com/photo.jpg"
                                            disabled:
                                                type: boolean
                                                description: Whether the account is disabled.
                                                example: false
                                            createdAt:
                                                type: string
                                                format: date-time
                                                description: When the account was created.
                                                example: "2024-01-15T10:30:00Z"
                                            lastSignInAt:
                                                type:
                                                    - string
                                                    - 'null'
                                                format: date-time
                                                description: When the user last signed in.
                                                example: "2024-01-20T14:45:00Z"
                                            providers:
                                                type: array
                                                description: Linked authentication providers.
                                                items:
                                                    type: object
                                                    description: An authentication provider linked to the user's account.
                                                    properties:
                                                        providerId:
                                                            type: string
                                                            description: The provider identifier.
                                                            example: google.com
                                                        providerType:
                                                            type: string
                                                            enum:
                                                                - PDPKA
                                                                - OAUTH
                                                                - OIDC
                                                                - ANONYMOUS
                                                            description: The type of provider.
                                                            example: OAUTH
                                                        federatedId:
                                                            type: string
                                                            description: The user's ID with this provider.
                                                            example: "1234567890"
                                                        email:
                                                            type:
                                                                - string
                                                                - 'null'
                                                            format: email
                                                            description: Email from this provider.
                                                            example: user@gmail.com
                                                        displayName:
                                                            type:
                                                                - string
                                                                - 'null'
                                                            description: Display name from this provider.
                                                            example: John Doe
                                                        photoUrl:
                                                            type:
                                                                - string
                                                                - 'null'
                                                            format: uri
                                                            description: Photo URL from this provider.
                                                            example: "https://lh3.googleusercontent.com/..."
                '400':
                    description: Invalid update parameters
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                '401':
                    description: Invalid or missing credentials
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                '500':
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/internal
                                title: Internal Server Error
                                status: 500
                                detail: An unexpected error occurred. Please try again later.
                '503':
                    description: Service temporarily unavailable
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/unavailable
                                title: Service Unavailable
                                status: 503
                                detail: The service is temporarily unavailable. Please try again later.
        delete:
            operationId: deleteCurrentUser
            summary: Delete current user
            description: |
                Permanently deletes the currently authenticated user's account.
                This operation is irreversible.
            tags:
                - User
            security:
                - ApiKeyAuth: []
                  BearerAuth: []
            responses:
                '204':
                    description: Account deleted
                '401':
                    description: Invalid or missing credentials
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                '500':
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/internal
                                title: Internal Server Error
                                status: 500
                                detail: An unexpected error occurred. Please try again later.
                '503':
                    description: Service temporarily unavailable
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/unavailable
                                title: Service Unavailable
                                status: 503
                                detail: The service is temporarily unavailable. Please try again later.
    /auth/validate-token:
        get:
            operationId: validateToken
            summary: Validate bearer token
            description: Validates that the provided bearer token is valid.
            tags:
                - Auth
            security:
                - BearerAuth: []
            responses:
                '200':
                    description: Token is valid
                    content:
                        application/json:
                            schema:
                                type: object
                                description: Response indicating whether credentials are valid
                                properties:
                                    valid:
                                        type: boolean
                                        description: Whether the provided credentials are valid
                                        example: true
                                required:
                                    - valid
                            example:
                                valid: true
                '401':
                    description: Invalid or missing token
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
                                        example: Project 'my-project' not found
                                    instance:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the specific occurrence
                                        example: /admin/v1/projects/my-project
                                    invalidParams:
                                        type: array
                                        description: |
                                            Extension member for validation errors. Contains details about which
                                            parameters failed validation and why.
                                        items:
                                            type: object
                                            description: Details about an invalid parameter in a validation error
                                            properties:
                                                name:
                                                    type: string
                                                    description: The name of the invalid parameter
                                                    example: sort
                                                reason:
                                                    type: string
                                                    description: A human-readable explanation of why the parameter is invalid
                                                    example: Invalid value
                                                value:
                                                    type: string
                                                    description: The invalid value that was provided
                                                    example: foo
                                                expectedValues:
                                                    type: array
                                                    description: The list of valid/expected values for this parameter
                                                    items:
                                                        type: string
                                                    example: ["project_id", "created_at", "display_name"]
                                            required:
                                                - name
                                                - reason
                                required:
                                    - type
                                    - title
                                    - status
                            example:
                                type: https://docs.pistachiohq.com/errors/unauthenticated
                                title: Unauthenticated
                                status: 401
                                detail: Invalid or missing token
                '500':
                    description: Internal server error
                    content:
                        application/json:
                            schema:
                                type: object
                                description: RFC 7807 Problem Details error response
                                properties:
                                    type:
                                        type: string
                                        format: uri
                                        description: A URI reference that identifies the problem type
                                        example: https://docs.pistachiohq.com/errors/not_found
                                    title:
                                        type: string
                                        description: A short, human-readable summary of the problem type
                                        example: Project not found
                                    status:
                                        type: integer
                                        description: The HTTP status code
                                        example: 404
                                    detail:
                                        type: string
                                        description: A human-readable explanation specific to this occurrence
[...]
