openapi: 3.1.0
info:
  title: Pistachio Admin API
  description: |
    Administrative API for managing Pistachio projects and resources.
    Requires service account authentication.
  version: 0.1.0
  contact:
    name: Pistachio Team

servers:
  - url: https://admin.pistachiohq.com/v1
    description: Production server
  - url: https://admin.staging.pistachiohq.com/v1
    description: Staging server

tags:
  - name: Projects
    description: Project management operations
  - name: Tenants
    description: Tenant management operations within projects

paths:
  /projects:
    $ref: './paths/admin/projects.yml#/projects'
  /projects/{projectId}:
    $ref: './paths/admin/projects.yml#/projectById'
  /projects/{projectId}:undelete:
    $ref: './paths/admin/projects.yml#/projectUndelete'
  /projects/{projectId}/adminSdkConfig:
    $ref: './paths/admin/projects.yml#/projectAdminSdkConfig'
  /projects:search:
    $ref: './paths/admin/projects.yml#/projectsSearch'
  /projects/{projectId}/tenants:
    $ref: './paths/admin/tenants.yml#/tenants'
  /projects/{projectId}/tenants/{tenantId}:
    $ref: './paths/admin/tenants.yml#/tenantById'
  /projects/{projectId}/tenants:search:
    $ref: './paths/admin/tenants.yml#/tenantsSearch'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: key
      description: API key for client SDK operations. API keys are auto-generated per app and identify the project.
    ServiceAccountAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Service account credential for admin operations.

security:
  - ApiKeyAuth: []
    ServiceAccountAuth: []
