openapi: 3.1.0
info:
  title: Pistachio Admin API
  description: |
    Administrative API for managing Pistachio projects and resources.
    Requires service account authentication.
  version: 0.1.0
  contact:
    name: Pistachio Team

servers:
  - url: https://admin.pistachiohq.com/v1
    description: Production server
  - url: https://admin.staging.pistachiohq.com/v1
    description: Staging server

tags:
  - name: Projects
    description: Project management operations
  - name: Tenants
    description: Tenant management operations within projects
  - name: Users
    description: User management operations within projects and tenants
  - name: Apps
    description: App management operations within projects
  - name: Auth Providers
    description: Authentication provider configuration for projects and tenants
  - name: Service Accounts
    description: Service account management for server-to-server authentication
  - name: API Keys
    description: API key management for client authentication
  - name: Tokens
    description: Custom token generation and verification
  - name: MFA
    description: Multi-factor authentication management
  - name: Usage
    description: Usage statistics and quota management

paths:
  /admin/v1/projects:
    $ref: './paths/admin/projects.yml#/projects'
  /admin/v1/projects/{projectId}:
    $ref: './paths/admin/projects.yml#/projectById'
  /admin/v1/projects/{projectId}:undelete:
    $ref: './paths/admin/projects.yml#/projectUndelete'
  /admin/v1/projects/{projectId}/adminSdkConfig:
    $ref: './paths/admin/projects.yml#/projectAdminSdkConfig'
  /admin/v1/projects:search:
    $ref: './paths/admin/projects.yml#/projectsSearch'
  /admin/v1/projects/{projectId}/tenants:
    $ref: './paths/admin/tenants.yml#/tenants'
  /admin/v1/projects/{projectId}/tenants/{tenantId}:
    $ref: './paths/admin/tenants.yml#/tenantById'
  /admin/v1/projects/{projectId}/tenants:search:
    $ref: './paths/admin/tenants.yml#/tenantsSearch'
  # Users - Project Level
  /admin/v1/projects/{projectId}/users:
    $ref: './paths/admin/users.yml#/projectUsers'
  /admin/v1/projects/{projectId}/users/{pistachioId}:
    $ref: './paths/admin/users.yml#/projectUserById'
  /admin/v1/projects/{projectId}/users:import:
    $ref: './paths/admin/users.yml#/projectUsersImport'
  /admin/v1/projects/{projectId}/users:search:
    $ref: './paths/admin/users.yml#/projectUsersSearch'
  # Users - Tenant Level
  /admin/v1/projects/{projectId}/tenants/{tenantId}/users:
    $ref: './paths/admin/users.yml#/tenantUsers'
  /admin/v1/projects/{projectId}/tenants/{tenantId}/users/{pistachioId}:
    $ref: './paths/admin/users.yml#/tenantUserById'
  /admin/v1/projects/{projectId}/tenants/{tenantId}/users:import:
    $ref: './paths/admin/users.yml#/tenantUsersImport'
  /admin/v1/projects/{projectId}/tenants/{tenantId}/users:search:
    $ref: './paths/admin/users.yml#/tenantUsersSearch'
  /admin/v1/projects/{projectId}/apps:
    $ref: './paths/admin/apps.yml#/apps'
  /admin/v1/projects/{projectId}/apps:search:
    $ref: './paths/admin/apps.yml#/appsSearch'
  /admin/v1/projects/{projectId}/apps/{appId}:
    $ref: './paths/admin/apps.yml#/appById'
  /admin/v1/projects/{projectId}/apps/{appId}:undelete:
    $ref: './paths/admin/apps.yml#/appUndelete'
  /admin/v1/projects/{projectId}/apps/{appId}/config:
    $ref: './paths/admin/apps.yml#/appConfig'
  # Auth Providers - Project Level
  /admin/v1/projects/{projectId}/authProviders:
    $ref: './paths/admin/auth_providers.yml#/projectAuthProviders'
  /admin/v1/projects/{projectId}/authProviders/{providerId}:
    $ref: './paths/admin/auth_providers.yml#/projectAuthProviderById'
  # Auth Providers - Tenant Level
  /admin/v1/projects/{projectId}/tenants/{tenantId}/authProviders:
    $ref: './paths/admin/auth_providers.yml#/tenantAuthProviders'
  /admin/v1/projects/{projectId}/tenants/{tenantId}/authProviders/{providerId}:
    $ref: './paths/admin/auth_providers.yml#/tenantAuthProviderById'
  /admin/v1/projects/{projectId}/tenants/{tenantId}/authProviders:effective:
    $ref: './paths/admin/auth_providers.yml#/effectiveTenantAuthProviders'
  # Service Accounts
  /admin/v1/projects/{projectId}/serviceAccounts:
    $ref: './paths/admin/service_accounts.yml#/serviceAccounts'
  /admin/v1/projects/{projectId}/serviceAccounts/{id}:
    $ref: './paths/admin/service_accounts.yml#/serviceAccountById'
  /admin/v1/projects/{projectId}/serviceAccounts/{id}/key:
    $ref: './paths/admin/service_accounts.yml#/serviceAccountKey'
  # User Lookup and Actions - Project Level
  /admin/v1/projects/{projectId}/users:lookup:
    $ref: './paths/admin/users.yml#/projectUsersLookup'
  /admin/v1/projects/{projectId}/users/{pistachioId}:revokeTokens:
    $ref: './paths/admin/users.yml#/projectUserRevokeTokens'
  /admin/v1/projects/{projectId}/users/{pistachioId}:customClaims:
    $ref: './paths/admin/users.yml#/projectUserCustomClaims'
  # User Lookup and Actions - Tenant Level
  /admin/v1/projects/{projectId}/tenants/{tenantId}/users:lookup:
    $ref: './paths/admin/users.yml#/tenantUsersLookup'
  /admin/v1/projects/{projectId}/tenants/{tenantId}/users/{pistachioId}:revokeTokens:
    $ref: './paths/admin/users.yml#/tenantUserRevokeTokens'
  /admin/v1/projects/{projectId}/tenants/{tenantId}/users/{pistachioId}:customClaims:
    $ref: './paths/admin/users.yml#/tenantUserCustomClaims'
  # API Keys
  /admin/v1/projects/{projectId}/apps/{appId}/apiKeys:
    $ref: './paths/admin/api_keys.yml#/apiKeys'
  /admin/v1/projects/{projectId}/apps/{appId}/apiKeys/{keyId}:
    $ref: './paths/admin/api_keys.yml#/apiKeyById'
  /admin/v1/projects/{projectId}/apps/{appId}/apiKeys/{keyId}:rotate:
    $ref: './paths/admin/api_keys.yml#/apiKeyRotate'
  # Tokens
  /admin/v1/projects/{projectId}/customTokens:
    $ref: './paths/admin/tokens.yml#/customTokens'
  /admin/v1/projects/{projectId}/idTokens:verify:
    $ref: './paths/admin/tokens.yml#/idTokensVerify'
  /admin/v1/projects/{projectId}/sessionCookies:
    $ref: './paths/admin/tokens.yml#/sessionCookies'
  /admin/v1/projects/{projectId}/sessionCookies:verify:
    $ref: './paths/admin/tokens.yml#/sessionCookiesVerify'
  # MFA Admin - Project Level
  /admin/v1/projects/{projectId}/users/{pistachioId}/mfa/factors:
    $ref: './paths/admin/mfa.yml#/projectUserMfaFactors'
  /admin/v1/projects/{projectId}/users/{pistachioId}/mfa/factors/{factorId}:
    $ref: './paths/admin/mfa.yml#/projectUserMfaFactorById'
  # MFA Admin - Tenant Level
  /admin/v1/projects/{projectId}/tenants/{tenantId}/users/{pistachioId}/mfa/factors:
    $ref: './paths/admin/mfa.yml#/tenantUserMfaFactors'
  /admin/v1/projects/{projectId}/tenants/{tenantId}/users/{pistachioId}/mfa/factors/{factorId}:
    $ref: './paths/admin/mfa.yml#/tenantUserMfaFactorById'
  # Usage and Quotas
  /admin/v1/projects/{projectId}/usage:
    $ref: './paths/admin/usage.yml#/usage'
  /admin/v1/projects/{projectId}/quotas:
    $ref: './paths/admin/usage.yml#/quotas'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: key
      description: API key for client SDK operations. API keys are auto-generated per app and identify the project.
    ServiceAccountAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Service account credential for admin operations.

security:
  - ApiKeyAuth: []
    ServiceAccountAuth: []
