openapi: 3.1.0
info:
  title: Pistachio Admin API
  description: |
    Administrative API for managing Pistachio projects and resources.
    Requires service account authentication.
  version: 0.1.0
  contact:
    name: Pistachio Team

servers:
  - url: https://admin.pistachiohq.com/v1
    description: Production server
  - url: https://admin.staging.pistachiohq.com/v1
    description: Staging server

tags:
  - name: Projects
    description: Project management operations
  - name: Tenants
    description: Tenant management operations within projects
  - name: Users
    description: User management operations within projects and tenants
  - name: Apps
    description: App management operations within projects
  - name: Auth Providers
    description: Authentication provider configuration for projects and tenants

paths:
  /admin/v1/projects:
    $ref: './paths/admin/projects.yml#/projects'
  /admin/v1/projects/{projectId}:
    $ref: './paths/admin/projects.yml#/projectById'
  /admin/v1/projects/{projectId}:undelete:
    $ref: './paths/admin/projects.yml#/projectUndelete'
  /admin/v1/projects/{projectId}/adminSdkConfig:
    $ref: './paths/admin/projects.yml#/projectAdminSdkConfig'
  /admin/v1/projects:search:
    $ref: './paths/admin/projects.yml#/projectsSearch'
  /admin/v1/projects/{projectId}/tenants:
    $ref: './paths/admin/tenants.yml#/tenants'
  /admin/v1/projects/{projectId}/tenants/{tenantId}:
    $ref: './paths/admin/tenants.yml#/tenantById'
  /admin/v1/projects/{projectId}/tenants:search:
    $ref: './paths/admin/tenants.yml#/tenantsSearch'
  # Users - Project Level
  /admin/v1/projects/{projectId}/users:
    $ref: './paths/admin/users.yml#/projectUsers'
  /admin/v1/projects/{projectId}/users/{pistachioId}:
    $ref: './paths/admin/users.yml#/projectUserById'
  /admin/v1/projects/{projectId}/users:import:
    $ref: './paths/admin/users.yml#/projectUsersImport'
  /admin/v1/projects/{projectId}/users:search:
    $ref: './paths/admin/users.yml#/projectUsersSearch'
  # Users - Tenant Level
  /admin/v1/projects/{projectId}/tenants/{tenantId}/users:
    $ref: './paths/admin/users.yml#/tenantUsers'
  /admin/v1/projects/{projectId}/tenants/{tenantId}/users/{pistachioId}:
    $ref: './paths/admin/users.yml#/tenantUserById'
  /admin/v1/projects/{projectId}/tenants/{tenantId}/users:import:
    $ref: './paths/admin/users.yml#/tenantUsersImport'
  /admin/v1/projects/{projectId}/tenants/{tenantId}/users:search:
    $ref: './paths/admin/users.yml#/tenantUsersSearch'
  /admin/v1/projects/{projectId}/apps:
    $ref: './paths/admin/apps.yml#/apps'
  /admin/v1/projects/{projectId}/apps:search:
    $ref: './paths/admin/apps.yml#/appsSearch'
  /admin/v1/projects/{projectId}/apps/{appId}:
    $ref: './paths/admin/apps.yml#/appById'
  /admin/v1/projects/{projectId}/apps/{appId}:undelete:
    $ref: './paths/admin/apps.yml#/appUndelete'
  /admin/v1/projects/{projectId}/apps/{appId}/config:
    $ref: './paths/admin/apps.yml#/appConfig'
  # Auth Providers - Project Level
  /admin/v1/projects/{projectId}/authProviders:
    $ref: './paths/admin/auth_providers.yml#/projectAuthProviders'
  /admin/v1/projects/{projectId}/authProviders/{providerId}:
    $ref: './paths/admin/auth_providers.yml#/projectAuthProviderById'
  # Auth Providers - Tenant Level
  /admin/v1/projects/{projectId}/tenants/{tenantId}/authProviders:
    $ref: './paths/admin/auth_providers.yml#/tenantAuthProviders'
  /admin/v1/projects/{projectId}/tenants/{tenantId}/authProviders/{providerId}:
    $ref: './paths/admin/auth_providers.yml#/tenantAuthProviderById'
  /admin/v1/projects/{projectId}/tenants/{tenantId}/authProviders:effective:
    $ref: './paths/admin/auth_providers.yml#/effectiveTenantAuthProviders'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: key
      description: API key for client SDK operations. API keys are auto-generated per app and identify the project.
    ServiceAccountAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Service account credential for admin operations.

security:
  - ApiKeyAuth: []
    ServiceAccountAuth: []
