openapi: 3.1.0
info:
  title: Pistachio API
  description: |
    API for end-to-end encrypted applications.
  version: 0.1.0
  contact:
    name: Pistachio Team

servers:
  - url: https://api.pistachiohq.com/v1
    description: Production server
  - url: https://api.staging.pistachiohq.com/v1
    description: Staging server

tags:
  - name: Health
    description: Service health checks
  - name: Auth
    description: Authentication and authorization endpoints
  - name: MFA
    description: Multi-factor authentication endpoints
  - name: User
    description: User self-service endpoints

paths:
  /health:
    $ref: './paths/health.yml#/health'
  /auth/validate-key:
    $ref: './paths/auth.yml#/validate-key'
  /auth/validate-token:
    $ref: './paths/auth.yml#/validate-token'
  /auth/validate-service-account:
    $ref: './paths/auth.yml#/validate-service-account'
  # Auth Operations
  /auth/signout:
    $ref: './paths/auth.yml#/signout'
  /auth/token/refresh:
    $ref: './paths/auth.yml#/token-refresh'
  /auth/token/exchange:
    $ref: './paths/auth.yml#/token-exchange'
  # Email Verification
  /auth/email/verify:
    $ref: './paths/auth.yml#/email-verify'
  /auth/email/confirm:
    $ref: './paths/auth.yml#/email-confirm'
  # Anonymous Auth
  /auth/anonymous:
    $ref: './paths/auth.yml#/anonymous'
  # OAuth
  /auth/oauth/{provider}/authorize:
    $ref: './paths/auth.yml#/oauth-authorize'
  /auth/oauth/{provider}/callback:
    $ref: './paths/auth.yml#/oauth-callback'
  # OIDC
  /auth/oidc/{providerId}/authorize:
    $ref: './paths/auth.yml#/oidc-authorize'
  /auth/oidc/{providerId}/callback:
    $ref: './paths/auth.yml#/oidc-callback'
  # Auth Providers
  /auth/providers:
    $ref: './paths/auth.yml#/providers'
  # MFA
  /auth/mfa/factors:
    $ref: './paths/auth.yml#/mfa-factors'
  /auth/mfa/factors/{factorId}:
    $ref: './paths/auth.yml#/mfa-factor-by-id'
  /auth/mfa/factors/{factorId}/verify:
    $ref: './paths/auth.yml#/mfa-factor-verify'
  /auth/mfa/factors/{factorId}/challenge:
    $ref: './paths/auth.yml#/mfa-factor-challenge'
  # User Self-Service
  /user/me:
    $ref: './paths/user.yml#/me'
  /user/me/sessions:
    $ref: './paths/user.yml#/me-sessions'
  /user/me/sessions/{sessionId}:
    $ref: './paths/user.yml#/me-session-by-id'
  /user/me/providers:
    $ref: './paths/user.yml#/me-providers'
  /user/me/providers/{provider}:
    $ref: './paths/user.yml#/me-provider-by-id'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: key
      description: API key for client SDK operations. API keys are auto-generated per app and identify the project.
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: ID token (JWT) for authenticated operations. Obtained via sign-in and must be included in the Authorization header.
    ServiceAccountAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Service account credential for admin operations.
